<div class="home">
  <div class="box">
    <mat-card class="container mat-elevation-z5">
      <mat-card-header class="header">
        <mat-card-title class="log">Log<span>In</span> </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <form>
        <mat-form-field>
          <input type="text" placeholder="Nome" name="name">
          <input type="text" placeholder="Senha" password="senha">
        </mat-form-field>
      </form>
      <button mat-raised-button color="secondary">
        Logar
      </button>
    </mat-card>
  </div>
</div>